html body{    
    font-family: Verdana, 'Calibri', 'Candara', 'Segoe', "Segoe UI", 'Optima', Arial, sans-serif;
    background-color: #444;
    position: relative;
  }
  .navbar-default{
    background: #7AB714 url(../img/header_banner.png);
    background-repeat:repeat-x;
    height: 80px!important;
    border: 0px !important;    

    -moz-box-shadow: 0px 6px 6px #000;
    -webkit-box-shadow: 0px 6px 6px #000;
    box-shadow: 0px 6px 6px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#000000');
  }

  .navbar{
    margin-top:5px;
    border-radius: 0px;
    
  }
  .navbar-brand{
    padding:15px;
    cursor: text;
  }

  /*footer{
    position: absolute;
    bottom:0px;
    left:0px;
    width: 100%;    
  }*/
 .footer-div{
    background-color:#639400;
    padding:4px;
  }
  .footer-div>a{
    font-size:12px; color:#000; cursor:pointer
  }

  /**************** High Level Containers  *******************************/
  .left_main_body{
  	margin:10px;
  	margin-right: 0px;
    margin-bottom: 40px;
  }

  @media (max-width: 706px) {
    .mobile-offset-container{
      padding:5px!important;
    }

    .left_main_body{
      margin:0px;    
    }
    .right_sub_panels{      
      margin:0px;  
      padding:0px;     
    }    

  }

  .sub_left_panel{
  	width:100%; 
  	background-color:#fff;  
  	border-top:6px solid #7bb701; 
  	padding:15px 8px 8px 8px; 
  	border-radius:5px;
  }

  .video_container{
  	background-color:#EFF1F3; 
  	min-height:500px; 
  	border:1px solid #bbb; 
  	border-top-width:0px; 
  	padding:8px 8px;
    position: relative;
  }
  .all_videos_filters_div{
    /*margin-bottom:5px;
    margin-top: 0px;*/
    padding: 5px 0px;
    display: none;
  }

  .all_videos_filters_div > .column{
    padding-bottom:8px;
  }

  .right_sub_panels{
  	background-color:#fff; 
  	height:auto; 
  	margin:10px; 
  	border-radius: 4px; 
  	padding: 10px;
  	margin-left:0px;
  }

  .section_titles{
  	border-bottom: 1px solid #ccc;
  	font-weight: bold;
  	font-size: 14px;
  	color: #5b8f21;
  	padding: 10px 0 10px 8px;
  	margin: 0px;
  }


  .video_container_hot_topic{
  	background-color:#EFF1F3; 
  	min-height:100px; 
  	/*border:1px solid #bbb; 
  	border-top-width:0px; */
  	padding:8px 8px;
  	margin-top: 10px;
  }

  #mu_sub_menu{
    display:none;
  }

  .form-group > .control-label{
    font-weight: normal;
    font-size:90%;
  }

  .select2-search__field{
    min-width:150px;
  }

  

/***************** Main Tabs - Version Name, All Videos, MU2 STYLE **/
  .nav-tabs-main{
    background-color:#444;
    border-bottom-width:0px;
    margin-left:10px;
  }

  .tab-content{
      background-color:#303136;
      color:#fff;
      padding:5px
  }

  .nav-tabs-main > li > a{
    /*border: medium none; */   
    outline: none;
    height:30px;
    line-height: 25px;
    padding:2px 10px;
    min-width: 60px;
    text-align: center;
    margin-right: 4px!important;  
    color:#333;   
    font-size: 13px!important;

  	 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d3d3d3+0,dbdbdb+50,d1d1d1+51,bfbfbf+100 */
  	background: #d3d3d3; /* Old browsers */
  	background: -moz-linear-gradient(top, #d3d3d3 0%, #dbdbdb 50%, #d1d1d1 51%, #bfbfbf 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #d3d3d3 0%,#dbdbdb 50%,#d1d1d1 51%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #d3d3d3 0%,#dbdbdb 50%,#d1d1d1 51%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3d3d3', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
  }

  @media (max-width: 866px) {
      .nav-tabs-main > li > a{
          /*width: 100% !important;*/
          min-width: 40px;
          padding:2px 5px;
          margin-right: 2px!important;
      }
  }

  .nav-tabs-main > li > a:hover{      
      border: medium none; 
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4f4f4+0,dbdbdb+50,d1d1d1+51,bfbfbf+100 */
  	background: #f4f4f4; /* Old browsers */
  	background: -moz-linear-gradient(top, #f4f4f4 0%, #dbdbdb 50%, #d1d1d1 51%, #bfbfbf 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top, #f4f4f4 0%,#dbdbdb 50%,#d1d1d1 51%,#bfbfbf 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom, #f4f4f4 0%,#dbdbdb 50%,#d1d1d1 51%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#bfbfbf',GradientType=0 ); /* IE6-9 */
  }

  .nav-tabs-main > li.active > a,
  .nav-tabs-main > li.active > a:focus,
  .nav-tabs-main > li.active > a:hover{      
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2cc4e+0,a2cc4e+48,7bb701+50,7bb701+53,7bb701+100 */
  	background: #a2cc4e; /* Old browsers */
  	background: -moz-linear-gradient(top,  #a2cc4e 0%, #a2cc4e 48%, #7bb701 50%, #7bb701 53%, #7bb701 100%); /* FF3.6-15 */
  	background: -webkit-linear-gradient(top,  #a2cc4e 0%,#a2cc4e 48%,#7bb701 50%,#7bb701 53%,#7bb701 100%); /* Chrome10-25,Safari5.1-6 */
  	background: linear-gradient(to bottom,  #a2cc4e 0%,#a2cc4e 48%,#7bb701 50%,#7bb701 53%,#7bb701 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2cc4e', endColorstr='#7bb701',GradientType=0 ); /* IE6-9 */
  	border:0px!important;
  	color:#fff;
  	font-weight: bold;
  }


  //***************** Sub Tabs - Screen Name, Reco Content STYLE **/
  .nav-tabs-sub{
  	background-color:#fff;
  }

  .nav-tabs-sub > li > a{     
   /* height:30px;
    line-height: 25px;*/   
    outline: none;
    padding:8px 15px;
    border: 1px solid #bbb;
    min-width: 100px;
    text-align: center;
    margin-right: 0px!important;  
    color:#333;   
    font-size: 13px!important;	 
  	background: #fff; 
  	border-radius: 0px;
    position:relative;
  }
 .nav-tabs-sub > li > a:hover{       
  	background: #eee; 
  }

  @media (max-width: 866px) {
      .nav-tabs-sub > li > a{
          /*width: 100% !important;*/
          min-width: 50px;
          padding:5px 12px;          
      }
  }

  .nav-tabs-sub > li.active > a,
  .nav-tabs-sub > li.active > a:focus,
  .nav-tabs-sub > li.active > a:hover{        
  	background: #EFF1F3; /* Old browsers */	
  	color:#333;
  	font-weight: bold;
  	border: 1px solid #bbb;
  	border-bottom-width: 0px;
  }

  /*.reco-sub-tab{
    background-image: url("../img/recomm.png")!important;
    background-repeat:no-repeat!important;
    background-position: 4px 6px!important;
    min-width:230px!important; 
  }

  @media (max-width: 866px) {
    .reco-sub-tab{
      background-image:none!important;
      min-width: 30px!important;
    }
  }*/

  /************************ VIDEO LINKS STYLE ********************************/
	.video_link_a{
	  /*margin: 1px 4px;
	  margin-bottom: 0px;*/
	  text-decoration: none!important; 
	  cursor: pointer;
	}

	.videoLink {
	  font-size: 14px;
	  background-color: #C0E1E6;
	  border-bottom: solid 8px #F0F2F4;
	  padding: 3px 10px;	    
	}

  .videoLink-visited {
    font-size: 14px;
    background-color: #CFEFF4;
    border-bottom: solid 8px #F0F2F4;
    padding: 3px 10px;      
  }

  @media (max-width: 866px) {
    .videoLink, .videoLink-visited {
      font-size: 12px;           
    }
    
  }

	.videoLink table,   .videoLink-visited  table{
	  width: 100%;
	}

	.videoLinkText {
	  color: #000;
	  width: 73%;
	}

  .hot_topic_text{
    color: #000;
  }

	.duration {
	  color: #000;
	}
	.muIcon {
	  width: 30px;
	  height: 20px;
	}
	img {
	  padding: 0px;
	  margin: 0px;
	}
	.muIcon img {
	  border: 0px;
	}
	.videoLinkImage {
	  width: 33px;
	  height: 33px;
	}
	.videoLinkImage img {
	  border: 0px;
	}

  .master_instruction_div{
    padding-bottom:0px!important  ;
  }

  .master_instruction_div>p{
    font-size: 12px;
    font-style: italic;
  }

/************************ MODAL STYLES ***********/
#video_modal > .modal-dialog {
  width: 95%;
  height: 95%;
  padding: 0;
  max-width:924px;
  max-height: 680px;
}

#video_modal  > .modal-dialog > .modal-content, 
#video_modal  > .modal-dialog > .modal-content > .modal-body,
#video_modal  > .modal-dialog > .modal-content > .modal-header{
	padding: 0px;
}

#video_modal  > .modal-dialog > .modal-content > .modal-header{
  min-height: 4px!important;
  border-bottom:0px solid #fff;
  position:relative;
}
#video_modal > .modal-content {
  height: 100%;
  border-radius: 0;
  padding: 0px;
}
#video_modal  > .modal-dialog > .modal-content > .modal-footer{
  padding:8px;
  border-top:1px solid #CCCCCC;
  background: #EFF1F3;
}

#video_modal  > .modal-dialog > .modal-content > .modal-header .close{
    color:#666;
    opacity: 1;
    font-size: 25px;
    line-height: 25px;   
    background-color: #fff;
    border-radius: 5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;   
    box-shadow: 5px 5px 10px #444;

    position:absolute;
    right:-15px;
    top:-15px;
    z-index: 100;
    
}

#video_modal  > .modal-dialog > .modal-content > .modal-header .close:hover{
  color:#000;
  opacity: 1;
  font-size: 25px;
}

.btn-like{  
  background: url("../img/likeBTN_active.png") no-repeat;
  width: 73px;
  height: 27px;
}
.btn-like-active{  
  background: url("../img/likeBTN_active.png") no-repeat!important;
}
.btn-like:disabled{
  background: url("../img/likeBTN_deactive.png") no-repeat;
}

.btn-dislike{ 
  background: url("../img/DislikeBTN_active.png") no-repeat;
  width: 73px;
  height: 27px;
}
.btn-dislike-active{  
  background: url("../img/DislikeBTN_active.png") no-repeat!important;
}
.btn-dislike:disabled{
  background: url("../img/DislikeBTN_deactive.png") no-repeat;
}

.stats_bar_text{
  font-weight:bold; 
  font-size:12px;
}
 #manage_practice_resource_btn{
  background: url("../../assets/img/plus.png");
  display: inline-block;
  width:28px;
  height: 28px;
  margin-top: -10px;
}

#manage_practice_resource_btn:hover{
  background: url("../../assets/img/plus_over.png");
}

#helpBtn{
  background: url("../../assets/img/help.png");
  display: inline-block;
  width:40px;
  height: 37px;
  float:right;
  margin-top:-40px
}

#helpBtn:hover{
  background: url("../../assets/img/help_over.png");
}


.reco-modal>.modal-header{
  background-color:#7AB714;
  background: -webkit-linear-gradient(top, rgb(177, 232, 57) 0%, rgb(133, 178, 40) 41%, rgb(86, 126, 4) 81%, rgb(69, 101, 3) 100%);
  background: -o-linear-gradient(top, rgb(177, 232, 57) 0%, rgb(133, 178, 40) 41%, rgb(86, 126, 4) 81%, rgb(69, 101, 3) 100%);
  background: -ms-linear-gradient(top, rgb(177, 232, 57) 0%, rgb(133, 178, 40) 41%, rgb(86, 126, 4) 81%, rgb(69, 101, 3) 100%);
  background: -moz-linear-gradient(top, rgb(177, 232, 57) 0%, rgb(133, 178, 40) 41%, rgb(86, 126, 4) 81%, rgb(69, 101, 3) 100%);
  background: linear-gradient(to bottom, rgb(177, 232, 57) 0%, rgb(133, 178, 40) 41%, rgb(86, 126, 4) 81%, rgb(69, 101, 3) 100%);

  /*border:1px solid #666;*/
}

.reco-modal>.modal-header>.close{
  color:#fff;
  opacity: 0.7;
  font-size: 35px;
  margin-top: -7px
}

.reco-modal>.modal-header>.close:hover{
  color:#fff;
  opacity: 1;
  font-size: 35px;
}

.item:hover a p.new-label:after{
  content: 'ADD';
}

.reco-modal>.modal-header>#reco_modal_title,
.reco-modal>.modal-header>#small_modal_title{
  color:#ffffff;
}


.reco-modal>.modal-body{
  padding: 0px;
}

