body {
    padding-top: 8rem;
}

.image {
    position: relative;
    width: 100%;
}

.top-buffer {
    margin-top: 2rem;
    padding-top: 10px;
}

button.close {
    font-size: 18px !important;
}

.image img {
    width: 100%;
}

.image:after,
.image:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.image:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.iframe {
    display: block;
    width: 1800px;
    height: 1800px;
}

.image:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    height: 55%;
    font-size: 2rem;
    z-index: 1;
    bottom: 0;
    text-align: center;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    opacity: 1;
}

.image:after {
    opacity: 1;
}

.image:hover:after,
.image:hover:before {
    opacity: 1;
    cursor: hand;
}

h1 {
    text-align: center;
}

.shadow {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.p {
    font-size: 3em;
}