 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Advocate and enthusiast for digital learning experiences and the technology that supports them.  I add value to organizations by applying agile software development methodologies and education industry intelligence.   I have Eight years of experience working with Education Technology as both a teacher and software developer.</p>
                </div>   
            </div>
        </div>
    </section>