{% include head.html %} {% include nav.html %}

<div class="container">
    {% for information_architecture in site.data.information_architecture %}
    <div class="row ">
        <div class="col-lg-8 col-sm-12 col-md-8 col-xl-8">
            <img src="{{site.baseurl}}{{information_architecture.url}}" class="img-responsive" alt="Image">
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
            <h2>{{information_architecture.title}}</h2>
            <p>{{information_architecture.description}}</p>
        </div>
    </div>
    <br> {%endfor%}
</div>

{% include footer.html %}