<!-- {% include head.html %} {% include nav.html %}

<div class="container">
    {% for web_development in site.data.web_development %}
    <div class="row ">
        <div class="col-lg-9 col-sm-12 col-md-8 col-xl-9">
            <img src="{{site.baseurl}}{{web_development.url}}" class="top-buffer shadow img-responsive" alt="Image">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-3">
            <h2>{{web_development.title}}</h2>
            <p>Technology: {{web_development.technology}}</p>
            <p>{{web_development.description}}</p>
        </div>

    </div>
    <br> {%endfor%}
</div>
{% include footer.html %}

{% include head.html %} {% include nav.html %}

<div class="container">
    {% for elearning in site.data.elearning %}
    <div class="row ">
        <div class="col-lg-8 col-sm-12 col-md-8 col-xl-8">
            <iframe height="550px" width="100%" src="{{site.baseurl}}{{elearning.url}}"></iframe>
        </div>
        <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4">
            <h2>{{elearning.title}}</h2>
            <p>Technology Used: {{elearning.technology}}</p>
            <p>{{elearning.description}}</p>
        </div>
    </div>
    <br> {%endfor%}
</div>

{% include footer.html %} -->