{% include head.html %} {% include nav.html %}

<div class="container center-block">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-6 col-xl-6">
                <h1>Business and Technology</h1>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-1 col-lg-1 col-xl-1 center-block">
                <img class='img-circle center' src='../img/profile.jpg' />
        </div>
    </div>
    <div class="row"> 
        <div class="col-lg-7 col-sm-12 col-md-7 col-xl-7">
                <p>Hello my name is Adam and I help businesses realize opportunities in the digital space.  I work primarily in the Healthcare and Education industries but welcome opportunities in all fields.  My previous work includes developing educational products and services for Healthcare clients and the public schools.
                <br>
                I learned to program as a kid and have used that skill to realize business opportunties, develop products for customers and to automate internal processes.  Education and Training is an area where I developed great communication and presentation skills necessary to administer training programs as well.
                <br>
                I hold both Bachelor's and Master's degree in Education and Information systems respectively.  In my free time I'm often practicing with programming new algorithims or running a local meetup that allows me the opportunity to develop as a speaker, and leader.
                </p>
        </div>   
    </div>  

    <br>
</div>
{% include footer.html %}